*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #333;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
.cart{
    display: inline-block;
    border-radius: 50%;
    transition: background 0.5s;
}
.cart:hover{
    background: #fff;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 5px 25px;
    border-radius: 30px;
    transition: background 0.5s;
}
nav ul li:hover{
    background: #fff;
}
a{
    text-decoration: none;
    color: #555;
    font-size: 20px;
    text-shadow: 1px 1px 4px #555;
}
p{
    color: lightslategrey;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 350px;
    padding: 10px 0;
    border-radius: 100px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 img{
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    display: inline-block;
    background: #fcde35;
    color: #fff;
    padding: 8px 30px;
    margin: 30px;
    border-radius: 30px;
    transition: background 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover{
    background: #555634;
}
.header{
    background: radial-gradient(#fff, #fdff77);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,0.5);
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: lightgrey;
}
.title::after{
    content: '';
    background: #ffeb3b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 18px;
}
.col-4:hover{
    transform: translateY(-10px);
    transform: scale(110%);
}
.col-4 img{
    height: 250px;
}
 /* offer*/
.offer{
    background: radial-gradient(#fff, #fdff77);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
    border-radius: 150px;
}
small{
    color: #555;
}
/*Testimonial*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0,0.5);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
    transform: scale(110%);   
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*Brands*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 h3{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #fff;
    transition: background 0.5s;
}
.col-5 h3:hover{
    color: #fcde35;
    text-shadow: 2px 2px 4px #ffea72;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}
/*Footer*/
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    padding: 100px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #fff;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 5px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-1 img{
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer-col-2, .footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*Media query for menu*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*Media query for menu*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100&;
    }
}